@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --layout-desktop: 1600px;
  --layout-guides: 1160px;
  --green: #4b9200;
  --orange: #f9804b;
  --orange-btn: linear-gradient(113deg, #f9804b 1.5%, #fe9013 100%);
  --yellow: #ffee2e;
  --red: #d31414;
  --orange_gradient: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --pink_gradient: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --black_blue: #333b41;
  --gray: #767474;
  --gray_smoky: #ababab;
  --gray_light: #f1f3f2;
  --frosted_glass_white: rgba(253, 253, 255, 0.52);
  --white: #ffffff;
  --color-text: #c4c4c4;
  --font-family-base: "Roboto", "Arial", "Helvetica", sans-serif;
  --font-weight-base: 400;
  --font-size-base: 16px;
}

h1 {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 700;
  font-size: 114px;
  line-height: 80%;
  text-transform: uppercase;
  color: var(--black_blue);
}

h2 {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: var(--black_blue);
}

h3 {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: var(--black_blue);
}

.subtitle {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: var(--black_blue);
}

.sm-paragraph {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}
/* //////////////////////////////////////////////////////////// */
.btn {
  width: 300px;
  height: 54px;
  padding: 5px 16px;
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--orange-btn);
  color: var(--white);
}

button.rounded {
  border-radius: 25px;
  border-color: transparent;
}

button.square {
  border-radius: 5px;
}

.btn:hover {
  background: #e47209;
}

.btn:active {
  background-color: var(--green);
}

.btn:disabled {
  background-color: var(--gray);
}

.arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow_elips {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: no-repeat center/35% url(../../assets/icons/arrow_right.svg)
    var(--orange);
  margin-right: 1180px;
  transition: 0.2s;
  cursor: pointer;
}

.arrow_elips:nth-child(1) {
  transform: rotate(180deg);
  margin-left: 1180px;
}

.arrow_elips:hover {
  background-color: #e47209;
}

.arrow_elips:active {
  background-color: var(--green);
}
/* //////////////////////////////////////////////////////////// */
header {
  width: 100%;
  height: auto;
  top: 0;
  padding: 14px 0;
  background-color: #000000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navigation-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 82px;
  height: 52px;
  margin-right: 64px;
  padding: 4px;
  border: 1px solid var(--white);
  border-radius: 2px;
}

.logo .petstory::after {
  content: url(../../assets/icons/bamboo.svg);
  position: relative;
  width: 7px;
  height: 20px;
  right: 55px;
}

.logo a {
  text-decoration: none;
}

.logo .petstory {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-transform: none;
  text-align: center;
  color: var(--white);
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--white);
}

nav a {
  margin-right: 58px;
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
}

nav a:hover {
  cursor: pointer;
  color: var(--orange);
}

.design-author a:hover {
  color: var(--orange);
}

li a {
  color: inherit;
}

li.current {
  color: var(--orange);
}

.design-author a {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: var(--white);
}
/* //////////////////////////////////////////////////////////// */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  line-height: 140%;
  background-color: #ffffff;
  color: var(--color-text);
}

.container {
  max-width: var(--layout-guides);
  margin: 0 auto;
}
/* //////////////////////////////////////////////////////////// */

.banner .container {
  display: flex;
  justify-content: flex-end;
}

.banner-content {
  position: absolute;
  margin-top: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.banner-title {
  width: 500px;
  height: auto;
  margin-bottom: 60px;
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 700;
  font-size: 106px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  z-index: 1;
}

h2.banner-title span {
  color: var(--yellow);
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.banner-content::after {
  position: relative;
  content: "";
  width: 465px;
  height: 465px;
  bottom: 584px;
  right: 91px;
  border-radius: 50%;
  background: var(--orange-btn);
}
/* //////////////////////////////////////////////////////////// */

.backstage.block {
  margin-top: 140px;
  margin-bottom: 140px;
}
.backstage-content {
  display: flex;
  justify-content: space-between;
  gap: 87px;
}

.backstage-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  backdrop-filter: blur(2px);
}

.backstage-text {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--black_blue);
}

.backstage-text p:nth-child(2) {
  margin: 20px 0;
}

.backstage-text .subtitle {
  margin-top: 54px;
  margin-bottom: 34px;
}

.backstage-decoration {
  position: absolute;
  right: 0;
  margin-top: -140px;
}
/* //////////////////////////////////////////////////////////// */

div.pets.block {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.pets .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px 28px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.card {
  position: relative;
  border: 1px solid transparent;
  border-radius: 5px;
  background: var(--white);
  background-clip: border-box;
}

.card::after {
  position: absolute;
  content: "";
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 5px;
  background: var(--orange-btn);
  z-index: -1;
}

.pets-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 400ms ease-out;
  transition: 0.5s;
}

.img-wrap {
  margin: -1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  position: relative;
}

.pets-title {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.banana-bamboo_icon {
  width: 48px;
  height: 48px;
  background: no-repeat center/80%
    url(../../assets/icons/banana-bamboo_icon.svg);
}

.meet-fish_icon {
  width: 48px;
  height: 48px;
  background: no-repeat center/100% url(../../assets/icons/meet-fish_icon.svg);
}

.pets-text-hovered {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 50% 16px;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  transform: translateY(100%);
}

.card:hover img {
  transform: scale(1.027);
  filter: brightness(0.5);
}

.card:hover .pets-text-hovered {
  transform: translateY(-50%);
}

.pets-text-hovered p {
  color: white;
}

.pets button {
  border: none;
}

.pets-decoration.left {
  position: absolute;
  left: 0;
  margin-top: 390px;
  z-index: -1;
}

.pets-decoration.right {
  position: absolute;
  right: 0;
  margin-top: 480px;
  z-index: -1;
}
/* //////////////////////////////////////////////////////////// */

.pick-and-feed.block {
  width: 100%;
  height: auto;
  background: var(--orange_gradient);
  padding-top: 69px;
  padding-bottom: 100px;
}

.pick-and-feed .container {
  background: var(--frosted_glass_white);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 100px 60px 100px;
}

.pick-and-feed h2 {
  text-align: center;
  color: var(--orange);
  margin-bottom: 30px;
}

.pick-and-feed p {
  color: var(--black_blue);
}

.pick-and-feed .content p:nth-child(1) {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.pick-and-feed .content p:nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 40px;
}

.pick-and-feed .content p:nth-child(3) {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 10px;
}

.pick-and-feed .content p:nth-child(4) a {
  text-decoration-color: var(--orange);
}

.how-it-works {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works h3 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.how-it-works .wrapper {
  width: 100%;
  padding: 0 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 60px;
}

.how-it-works figure {
  align-self: flex-start;
}

.how-it-works figcaption {
  max-width: 168px;
  padding: 30px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--black_blue);
}

.how-it-works figure img {
  width: 168px;
  height: 168px;
  object-fit: contain;
  padding: 30px;
  background: var(--white);
  border-radius: 5px;
  border: 1px solid var(--orange);
}

.arrow-right {
  width: 69px;
  height: 35px;
  margin-bottom: 100px;
  background: no-repeat center/100% url(../../assets/icons/vector.svg);
}

.how-it-works button {
  border: none;
}
/* //////////////////////////////////////////////////////////// */

.testimonials.block {
  margin-top: 140px;
  margin-bottom: 180px;
}

.testimonials h3 {
  text-align: center;
  margin-bottom: 47px;
}

.text-block-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
}

.text-block-box {
  width: calc((100% / 4) - 15px);
  height: 390px;
  padding: 16px 16px 20px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 20px;
  background: var(--gray_light);
  background-clip: border-box;
}

.text-block-box::after {
  position: absolute;
  content: "";
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  border-radius: 22px;
  background: var(--pink_gradient);
  z-index: -1;
}

.text-block-box .box-body p {
  white-space: normal;
  text-overflow: clip;
  color: var(--gray);
}

.box-header .user-icon.user-one {
  width: 37px;
  height: 37px;
  background: no-repeat center/100% url(../../assets/icons/user_icon.png);
}

.box-header .user-icon.user-two {
  width: 37px;
  height: 37px;
  background: no-repeat center/100% url(../../assets/icons/user2.png);
}

.box-header .user-icon.user-three {
  width: 37px;
  height: 37px;
  background: no-repeat center/100% url(../../assets/icons/user3.png);
}

.box-header .user-icon.user-four {
  width: 37px;
  height: 37px;
  background: no-repeat center/100% url(../../assets/icons/user4.png);
}

.user-icon {
  margin-right: 10px;
}

.box-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  color: #000000;
}

.personal-info .row {
  display: flex;
  color: #bdbdbd;
}

.row .location {
  margin-right: 16px;
}
/* //////////////////////////////////////////////////////////// */

input {
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

input[type="range"] {
  height: 12px;
  -webkit-appearance: none;
  padding: 0 1px;
  width: 600px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 600px;
  height: 8px;
  cursor: pointer;
  transition: 0.2s;
  background: #f5f7f6;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 6px;
  width: 115px;
  border-radius: 5px;
  background: #fe9013;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0.5px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #f5f7f6;
}

input[type="range"]:focus::-webkit-slider-thumb {
  background: #e47209;
}
.testimonials button {
  border: none;
  align-self: flex-start;
}

.testimonials-decoration {
  position: absolute;
  right: 0;
  margin-top: -100px;
  z-index: -1;
}
/* //////////////////////////////////////////////////////////// */

footer {
  background-color: #111115;
}

footer .container {
  padding-top: 40px;
  padding-bottom: 50px;
}

.subscribe-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.subscribe label {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: var(--white);
}

.input-wrapper {
  margin-top: 14px;
}

.subscribe input[type="email"] {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid var(--orange);
  border-radius: 2px;
  background: #111115;
  margin-right: 10px;
  color: #ffffff;
}

input[type="submit"] {
  box-sizing: border-box;
  background: var(--gray_light);
  color: var(--green);
  padding: 10px 40px;
  border: 1px solid var(--black_blue);
  border-radius: 5px;
}

input[type="submit"].invalid {
  color: var(--red);
  border: 1px solid var(--red);
}

input[type="submit"]:hover {
  background: var(--gray_smoky);
}

input[type="email"]:hover {
  border: 1px solid var(--green);
}

input[type="email"]:focus {
  outline: none;
  border: 1px solid var(--red);
}

input[type="email"]:valid {
  border: 1px solid var(--green);
}

.subscribe-wrapper {
  margin-bottom: 44px;
}

.links-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

nav.social-media-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav.social-media-links ul > li {
  margin-top: 10px;
}

.social-media-links a {
  display: flex;
  align-items: center;
}

.social-media-links img {
  width: 26px;
  height: 26px;
  padding: 5px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.5);
}

.social-media-links li:hover a {
  color: var(--green);
}

.social-media-links li:hover img {
  background-color: var(--green);
}

.attribution p {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}

.attribution p:hover {
  color: var(--green);
  text-decoration: underline;
  cursor: pointer;
}

.attribution p:nth-child(1) {
  margin-bottom: 10px;
}

.donate-link {
  color: currentColor;
}
